<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  	<script type="text/javascript">
  	function checkLogin() {
  		$.post('/checklogin', 
  				{	username: document.getElementById("uname").value,
  					password: document.getElementById("psw").value	}, 
  				function(data) {
  			if(data == 'error') {
  				alert("Error signing in");
  			} else if(data == 'wrong') {
  				alert("Wrong password");
  			} else if(data == 'nouser') {
  				alert("No such user");
  			} else if(data == 'empty') {
  				alert("Empty fields");
  			} else {
  				console.log("login success");
  				window.location.href = "/home";
  			}
  		});
  	}
  	</script>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style type="text/css">
	body {
	  width: 100wh;
	  height: 90vh;
	  color: #fff;
	  background-size: 110% 115%;
	  background-image: linear-gradient(to left bottom, #4c87fc, #5076fd, #5e62fb, #7148f4, #861de9);
	}
    .login-box {
      padding-top: 220px;     
      max-width: 300px;
      margin: 0 auto;
    }
    .login-box .form-control { 
      padding: 10px;
      font-size: 16px;
      margin-bottom: 10px;
      border-radius: 20px;
      padding-right: 30px;
    }
    .btn-custom {
      background-color: Transparent;
      border-color: #FFFFFF;
      color:#FEFEFE;
      font-weight: 600;
      border-radius: 20px;
    }
    .hs {
      color: #FEFEFE;
      text-align: center;
      font-weight: 600;
    }
	 .error {
	   color: #FF0000;
	   font-style: italic;
	   padding-top: 5px;
	 }
	 a {
	  color: #ff9966;
	 }
	 a:hover {
	    color: #ff9966;
	 } 
	.register {
	   color: #fff;
	   padding-top: 5px;
	 }
	</style>
</head>


<body>
	<div class="login-box">
		<h1 class="hs">PennBook</h1>
			<p align="center" > Sign In </p>
		    <input type="text" placeholder="Username" id="uname" class="form-control">			
		    <input type="password" placeholder="Password" id="psw" class="form-control">			
		    <button onClick = "checkLogin()" class="btn btn-md btn-block btn-custom" type="submit">SIGN IN</button>		   
			<div class="register">Not registered? <a href="/signup">Create an account</a><br/></div>
	</div>
</body>
</html>
